.tileCustom .sapMStdTileInfo {
	white-space: normal;
	margin-top: 1rem;
}

.tileCustom .sapMStdTileTitle{
	font-size: 1.25rem;
}


/* _____CALENDARIO_____*/
.sapUiCal {
    width: 50rem;
}
.sapUiCalMonthView, .sapUiCalMonthPicker, .sapUiCalYearPicker {
    width: 45rem !important;
}
.sapUiCalHeadB.sapUiCalHeadB1, .sapUiCalHeadB.sapUiCalHeadB2 {
    font-size: 24px;
}
.sapUiCalWH, .sapUiCalDay, .sapUiCalWeekNum, .sapUiCalMonth, .sapUiCalYear {
        font-size: 0.95rem !important;
}
.sapUiCalContent>.sapUiCalMonthPicker, .sapUiCalContent>.sapUiCalYearPicker {
    margin-left: 0 !important;
    left: 2rem !important;
}
.sapUiCalHeadB1 {
    width: 8.5rem !important;
}

.sapUiCalDay.sapUiCalDayType06.sapUiCalWDay3{
    height: 5px;
}

/*
.sapUiCalDayType07>.sapUiCalDayNum {
     box-shadow: inset 0 -0.2rem 0 #004990 !important; 
}
*/

/*eliminare le regole per aggiungere i numeri delle settimane*/
.sapUiCal .sapUiCalMonthView, .sapUiCal .sapUiCalDatesRow {
    margin-left: -4rem !important;
}
.sapUiCalWeekNum {
    visibility: hidden !important;
}
/****************************/

.bottoneSaveNotaSpese {
    width: 5px;
}

/*
.listaNotaSpese {
    width: 51%;
    margin-left: 20rem;
}*/
