.tileCustom .sapMStdTileInfo {
	white-space: normal;
	margin-top: 1rem;
}

.tileCustom .sapMStdTileTitle{
	font-size: 1.25rem;
}

.data {
    margin-left: 1rem !important;
}

.nome {
    margin-left: -4rem !important;
}

/* _____CALENDARIO_____*/
.sapUiCal {
    width: 50rem;
}
.sapUiCalMonthView, .sapUiCalMonthPicker, .sapUiCalYearPicker {
    width: 45rem !important;
}
.sapUiCalHeadB.sapUiCalHeadB1, .sapUiCalHeadB.sapUiCalHeadB2 {
    font-size: 24px;
}
.sapUiCalWH, .sapUiCalDay, .sapUiCalWeekNum, .sapUiCalMonth, .sapUiCalYear {
        font-size: 0.95rem !important;
}
.sapUiCalContent>.sapUiCalMonthPicker, .sapUiCalContent>.sapUiCalYearPicker {
    margin-left: 0 !important;
    left: 2rem !important;
}
.sapUiCalHeadB1 {
    width: 8.5rem !important;
}

.sapUiCalDay.sapUiCalDayType06.sapUiCalWDay3{
    height: 5px;
}

.sapUiCalDayToday>.sapUiCalDayNum {
    /*colore riquadro del giorno corrente */
    /*border: none !important;*/
    border: 0.125rem solid #ab218e;
}


/*eliminare le regole per aggiungere i numeri delle settimane*/
.sapUiCal .sapUiCalMonthView, .sapUiCal .sapUiCalDatesRow {
    margin-left: -4rem !important;
}
.sapUiCalWeekNum {
    visibility: hidden !important;
}
/****************************/


.totalStyle {
	font-size: 1.5em !important;
	font-weight: bold !important;

}

.size1 {
    font-size : 2rem;
}

.totalExpensesStyle {
	font-weight: bold !important;
}
